/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700;800&display=swap'); 

:root {
    --accent: #E6E6EA;
    --bkgrnd: #2E0854;
    --dark: #373756; 
    --overLayStart: rgba(55,55,86,0.9);
    --overLayEnd: rgba(55,55,86,0.7); 
    --ease: all 0.3s ease 0s; 
    --projects: #800060; 
}

body {
    background-color: var(--dark);
    background-image:url(images/lights1.jpg);
    max-height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: repeat; 
    }

h1, p, a, div {

    text-align: justify; 
    font-family: "Alegreya", serif;
    color: var(--accent);
}

h1 {

    font-weight: bold; 
}

.top_profile {

    float: left;
    padding: 1px;
    border: 1px solid #555;
}


.top {

    margin-top: 150px;
    position: absolute;
    width: 888px;
    height: 570.98px;
    left: 20%; 
}

.wrapper {

    position: relative; 
    left: 30px;
}

.title {

    line-height: 30px;
    font-size: 40px; 
}

.bio_top {

    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 18px;
    margin-top: 80px;
}

.bottom_half {

    top: 720px;
    position: relative;
}


.line {

    border-bottom: 1px solid #E6E6EA;
    display: block;  
    -webkit-animation-name: line;  
            animation-name: line;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; 
    -webkit-animation-timing-function: ease; 
            animation-timing-function: ease; 

}

@-webkit-keyframes line {

    0% {width: 0%;}
    100% {width: 100%;}
}

@keyframes line {

    0% {width: 0%;}
    100% {width: 100%;}
}

.quote {

    text-align:justify;
    font-size: 20px;
}

.closeQ {
 
    margin-left: 5px;

}

.peggy {

    font-size: 18px;
    text-align: right;
}

.bio { 

    position: relative;
    width: 888px;
    left: 20%; 
}

.bio_title {

    font-size: 32px;
    margin-top: 150px;
    margin-bottom: 18px;

}

.bio_details {

    margin-top: 100px; 
    font-weight: normal;
    font-size: 20px; 
    line-height: 36px; 
}

#middle {

    margin-top: 100px; 
    display: -ms-grid; 
    display: grid;
    -ms-grid-columns: 2.5fr 0.25fr 4fr 0.25fr 3.5fr;
    grid-template-columns: 2.5fr 0.25fr 4fr 0.25fr 3.5fr; 
}

.superpowers {

    margin-right: 0px; 
    text-align:left;   
}

.why {

    margin-left: 30px; 
    margin-right: 0px; 
    text-align:left;
      
}

.swot {

    margin-left: 30px;
    margin-right: 0px; 
    text-align:left;
    
    }

.head {

    font-size: 32px;
    text-align: left;
    font-weight: 500; 
    margin-top: 20px;
    margin-bottom: 18px;

    }

.details {

    text-align: left;
    font-size: 18px; 
    line-height: 175%;
    font-weight: 200; 
}

.lines {
  
    -webkit-animation-name: lines;
  
            animation-name: lines;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards; 
    -webkit-animation-timing-function: ease; 
            animation-timing-function: ease; 

}

@-webkit-keyframes lines {

    0% {width: 0%;}
    100% {width: 100%;}
}

@keyframes lines {

    0% {width: 0%;}
    100% {width: 100%;}
}

.bio_bottom {

    position: relative;
    margin-top: 150px;
}

#proj {

    display: -ms-grid;

    display: grid;
    -ms-grid-columns: 3.5fr 0.5fr 6fr;
    grid-template-columns: 3.5fr 0.5fr 6fr; 
}

h2 {

    font-weight: 500;
    font-size: 31px;
    line-height: 100%; 
    text-align:left;  
}

.bandhubi {

    margin-top: 8px;
    margin-right: 0px;  
    margin-left:0px;
}

.paper {

    margin-left: 50px; 
    margin-right: 0px;

}

.projects_details {

    text-align: justify;
    font-size: 18px; 
    line-height: 175%;
    font-weight: 200;  
}

.interests_title {

    font-size: 40px;
    margin-top: 150px; 
    margin-bottom: 0px;
}

.interests_details {

    font-weight: 50;
    font-size: 29px; 
    margin-bottom: 0px;
    margin-top: 18px;  
    line-height: 36px;
}

.item {
    
    margin-top: 150px; 
    line-height: 36px; 
}

.iconE {
    
    position: relative;
    top: 18px;
    left: 15px; 
}

.iconL {

    position: relative;
    top: 8px;
    left: 37px; 
}

.iconI {

    position: relative;
    top: 6px;
    left: 65px; 
    
}

.rights {
    
    font-weight: 25;
    font-size: 15px; 
    float: right;
    margin-top: 30px;

}
